#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2

// Media controls
#define VOL_DOWN C_VOLUME_DOWN
#define VOL_UP C_VOLUME_UP
#define VOL_MUTE K_MUTE
#define PREV C_PREVIOUS
#define PLAY C_PLAY_PAUSE
#define NEXT C_NEXT

// Display controls
#define BRIGHT C_BRIGHTNESS_INC
#define DARK C_BRIGHTNESS_DEC

// Window controls
#define APPS C_AC_DESKTOP_SHOW_ALL_WINDOWS
#define SEARCH C_AC_SEARCH


/ {
    chosen {
      zmk,matrix_transform = &five_column_transform;
    };

    /*
     * Caps Word
     *
     * https://zmk.dev/docs/keymaps/behaviors/caps-word
     */
    &caps_word {
        continue-list = <
          UNDERSCORE MINUS
          LCTRL LALT LGUI LSHFT
          RCTRL RALT RGUI RSHFT
          BACKSPACE
        >;

        /delete-property/ ignore-modifiers;
    };
    
    behaviors {
        /*
         * homerow mod
         *
         * https://zmk.dev/docs/keymaps/behaviors/hold-tap#custom-hold-tap-examples
         *
         * - tab:  2nd key
         * - hold: 1st key
         */
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 19 18 17 16 15 34 25 26 35 27 28 29 37 36>;
            hold-trigger-on-release;
        };
        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 14 13 12 11 10 11 12 13 14 20 21 22 23 24 30 31 32 33>;
            flavor = "balanced";
            hold-trigger-on-release;
        };

        /*
         * htl
         *
         * - tab once to MOMENTARY switch layer
         * - hold to enable layer until release
         */
        htl: hold_tab_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAB_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&mo>, <&to>;
        };


        /*
         * tap-dance
         *
         * different key press on each press
         * https://zmk.dev/docs/behaviors/tap-dance
         */
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>; // Default: 200ms
            bindings = <&mt N1 Q>, <&mt N1 ESC>;
        };

        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>; // Default: 200ms
            bindings = <&mt LALT A>, <&kp TAB>;
        };

        td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>; // Default: 200ms
            bindings = <&mt N0 MINUS>, <&kp EQUAL>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_brace_left {
            timeout-ms = <30>;
            key-positions = <12 13>;
            bindings = <&kp LEFT_BRACE>;
        };

        combo_bracket_left {
            timeout-ms = <30>;
            key-positions = <13 14>;
            bindings = <&kp LBKT>;
        };

        combo_bracket_right {
            timeout-ms = <30>;
            key-positions = <15 16>;
            bindings = <&kp RBKT>;
        };

        combo_brace_right {
            timeout-ms = <30>;
            key-positions = <16 17>;
            bindings = <&kp RIGHT_BRACE>;
        };

        combo_pipe {
            timeout-ms = <30>;
            key-positions = <22 23>;
            bindings = <&kp PIPE>;
        };

        combo_parenthesis_left {
            timeout-ms = <30>;
            key-positions = <23 24>;
            bindings = <&kp LEFT_PARENTHESIS>;
        };

        combo_parenthesis_right {
            timeout-ms = <30>;
            key-positions = <25 26>;
            bindings = <&kp RIGHT_PARENTHESIS>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        mail: mail {
            compatible = "zmk,behavior-macro";
            label = "macro_mail";
            #binding-cells = <0>;
            wait-ms = <0>; // default: 15ms  Delay between each binging
            tap-ms = <30>; // default: 30ms  How long each binding will be held
            bindings
                = <&macro_tap &kp B &kp E &kp N &kp J &kp A &kp M &kp I &kp N> 
                , <&macro_tap &kp AT>
                , <&macro_tap &kp S &kp T>
                , <&macro_press &kp LALT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LALT>
                , <&macro_tap &kp U &kp R &kp M &kp E &kp R &kp PERIOD &kp P &kp R &kp O>
                ;
        };
        phone: phone {
            compatible = "zmk,behavior-macro";
            label = "macro_phone";
            #binding-cells = <0>;
            wait-ms = <5>; // default: 15ms  Delay between each binging
            tap-ms = <30>; // default: 30ms  How long each binding will be held
            bindings
                = <&macro_tap &kp N0 &kp N1 &kp N6 &kp N2 &kp N4 &kp N5 &kp N3 &kp N4 &kp N0 &kp N4 &kp N3> 
                ;
        };
    };

    // cheat-sheet https://peccu.github.io/zmk-cheat-sheet/
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &td0            &mt N2 W        &mt N3 F            &mt N4 P        &mt N5 G        &mt N6 J        &mt N7 L            &mt N8 U            &mt N9 Y            &td2
                &td1            &hml LCTRL R    &hml LSHIFT S       &hml LGUI T     &kp D           &kp H           &hmr RGUI N         &hmr RSHIFT E       &hmr RCTRL I        &hmr RALT O
                &kp Z           &kp X           &kp C               &kp V           &kp B           &kp K           &kp M               &kp COMMA           &kp DOT             &mt BSLH FSLH
                                                                &htl LOWER DEFAULT  &kp LCMD        &kp SPACE                           &kp ENTER           &mt LA(BSPC) BSPC   &htl RAISE DEFAULT
            >;
        };

        lower_layer {
            bindings = <
                &mt F1 DARK     &mt F2 BRIGHT   &mt F3 APPS         &mt F4 SEARCH   &kp F5          &mt PG_DN DOWN  &kp RIGHT           &mt F9 VOL_MUTE     &mt F10 VOL_DOWN    &mt F11 VOL_UP
                &mt LALT EXCL   &hml LCTRL AT   &hml LSHIFT HASH    &hml LGUI DOLLAR &kp PERCENT    &kp AMPERSAND   &hmr RGUI CARET     &hmr RSHIFT SEMI    &hmr RCTRL APOS     &hmr RALT ASTERISK
                &none           &none           &none               &none           &none           &mt PG_UP UP    &kp LEFT            &kp GRAVE           &none               &mt BSLH FSLH
                                                                &htl LOWER DEFAULT  &kp LCMD        &kp SPACE                           &kp ENTER           &mt RALT DEL        &htl RAISE DEFAULT

            >;
        };

        raise_layer {
            bindings = <
                &kp F1          &kp F2          &kp F3              &kp F4          &kp F5          &kp F6          &kp F7              &mt F8 UP           &kp F9              &kp F10
                &mail           &phone          &caps_word          &none           &none           &none           &kp LEFT            &kp DOWN            &kp RIGHT           &kp LG(LS(N4))
                &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2        &bt BT_SEL 3    &bt BT_CLR      &none           &none               &none               &none               &none
                                                                &htl LOWER DEFAULT  &kp LCMD        &kp SPACE                           &kp ENTER           &mt RALT DEL        &htl RAISE LOWER
            >;
        };

        tri_layer {
            bindings = <
                &none           &none           &none               &none           &none           &kp MINUS       &kp N7              &kp N8              &kp N9              &none
                &none           &none           &kp C_PREV          &kp C_PP        &kp C_NEXT      &kp PLUS        &kp N4              &kp N5              &kp N6              &none
                &none           &none           &none               &none           &none           &kp N0          &kp N1              &kp N2              &kp N3              &none
                                                             &htl LOWER DEFAULT  &kp LCMD        &kp SPACE                              &kp ENTER           &mt RALT DEL        &htl RAISE LOWER
            >;
        };
    };
};

