#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2

// Media controls
#define VOL_DOWN C_VOLUME_DOWN
#define VOL_UP C_VOLUME_UP
#define VOL_MUTE K_MUTE
#define PREV C_PREVIOUS
#define PLAY C_PLAY_PAUSE
#define NEXT C_NEXT

// Display controls
#define BRIGHT C_BRIGHTNESS_INC
#define DARK C_BRIGHTNESS_DEC

// Window controls
#define APPS C_AC_DESKTOP_SHOW_ALL_WINDOWS
#define SEARCH C_AC_SEARCH


/ {
    chosen {
      zmk,matrix_transform = &five_column_transform;
    };
    
    behaviors {
        /*
         * htl
         *
         * - tab once to MOMENTARY switch layer
         * - hold to enable layer until release
         */
        htl: hold_tab_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAB_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&mo>, <&to>;
        };

        /*
         * hm
         * 
         * - tab once for key press 2nd item
         * - hold for key press 1st item
         */
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        // different key press on each press (LSHFT -> CAPS Lock)
        // https://zmk.dev/docs/behaviors/tap-dance

        /*
         * td_caps
         *
         * - tab once for 1st item
         * - tab twice for 2nd item
         */
        td_caps: tap_dance_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <400>; // Default: 200ms
            bindings = <&kp CAPS>, <&kp LSHFT>;
        };

        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>; // Default: 200ms
            bindings = <&hm N1 Q>, <&hm N1 ESC>;
        };

        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>; // Default: 200ms
            bindings = <&hm LALT A>, <&kp TAB>;
        };

        td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>; // Default: 200ms
            bindings = <&hm N0 MINUS>, <&kp EQUAL>;
        };

        td3: tab_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>; // Default: 200ms
            bindings = <&kp S>, <&test>;            
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_brace_left {
            timeout-ms = <30>;
            key-positions = <12 13>;
            bindings = <&kp LEFT_BRACE>;
        };

        combo_bracket_left {
            timeout-ms = <30>;
            key-positions = <13 14>;
            bindings = <&kp LBKT>;
        };

        combo_bracket_right {
            timeout-ms = <30>;
            key-positions = <15 16>;
            bindings = <&kp RBKT>;
        };

        combo_brace_right {
            timeout-ms = <30>;
            key-positions = <16 17>;
            bindings = <&kp RIGHT_BRACE>;
        };

        combo_pipe {
            timeout-ms = <30>;
            key-positions = <22 23>;
            bindings = <&kp PIPE>;
        };

        combo_parenthesis_left {
            timeout-ms = <30>;
            key-positions = <23 24>;
            bindings = <&kp LEFT_PARENTHESIS>;
        };

        combo_parenthesis_right {
            timeout-ms = <30>;
            key-positions = <25 26>;
            bindings = <&kp RIGHT_PARENTHESIS>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        mail: mail {
            compatible = "zmk,behavior-macro";
            label = "macro_mail";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B &kp E &kp N &kp J &kp A &kp M &kp I &kp N> 
                , <&macro_tap &kp AT>
                , <&macro_tap &kp S &kp T>
                , <&macro_press &td1>
                , <&macro_tap &kp U>
                , <&macro_release &td1>
                , <&macro_tap &kp U &kp R &kp M &kp E &kp R &kp PERIOD &kp P &kp R &kp O>
                ;
        };
        phone: phone {
            compatible = "zmk,behavior-macro";
            label = "macro_phone";
            #binding-cells = <0>;
            wait-ms = <30>; // default: 15ms  Delay between each binging
            tap-ms = <30>; // default: 30ms  How long each binding will be held
            bindings
                = <&macro_tap &kp N0 &kp N1 &kp N6 &kp N2 &kp N4 &kp N5 &kp N3 &kp N4 &kp N0 &kp N4 &kp N3> 
                ;
        };
        test: test {
            compatible = "zmk,behavior-macro";
            label = "macro_phone";
            #binding-cells = <0>;
            wait-ms = <0>; // default: 15ms  Delay between each binging
            tap-ms = <30>; // default: 30ms  How long each binding will be held
            bindings
                = <&macro_tap &kp A &kp A> 
                ;
        };
    };

    // cheat-sheet https://peccu.github.io/zmk-cheat-sheet/
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &td0            &hm N2 W        &hm N3 F            &hm N4 P        &hm N5 G        &hm N6 J        &hm N7 L            &hm N8 U            &hm N9 Y            &td2
                &td1            &hm LCTRL R     &hm LSHIFT S        &hm LGUI T      &kp D           &kp H           &hm RGUI N          &hm RSHIFT E        &hm RCTRL I         &hm RALT O
                &kp Z           &kp X           &kp C               &kp V           &kp B           &kp K           &kp M               &kp COMMA           &kp DOT             &hm BSLH FSLH
                                                                &htl LOWER DEFAULT  &kp LCMD        &kp SPACE                           &kp ENTER           &hm LA(BSPC) BSPC   &htl RAISE DEFAULT
            >;
        };

        lower_layer {
            bindings = <
                &hm F1 DARK     &hm F2 BRIGHT   &hm F3 APPS         &hm F4 SEARCH   &kp F5          &hm PG_DN DOWN  &kp RIGHT           &hm F9 VOL_MUTE     &hm F10 VOL_DOWN    &hm F11 VOL_UP
                &hm LALT EXCL   &hm LCTRL AT    &hm LSHIFT HASH     &hm LGUI DOLLAR &kp PERCENT     &kp AMPERSAND   &hm RGUI CARET      &hm RSHIFT SEMI     &hm RCTRL APOS      &hm RALT ASTERISK
                &none           &none           &none               &none           &none           &hm PG_UP UP    &kp LEFT            &kp GRAVE           &none               &hm BSLH FSLH
                                                                &htl LOWER DEFAULT  &kp LCMD        &kp SPACE                           &kp ENTER           &hm RALT DEL        &htl RAISE DEFAULT

            >;
        };

        raise_layer {
            bindings = <
                &kp F1          &kp F2          &kp F3              &kp F4          &kp F5          &kp F6          &kp F7              &hm F8 UP           &kp F9              &kp F10
                &mail           &phone          &td3                &none           &none           &none           &kp LEFT            &kp DOWN            &kp RIGHT           &kp LG(LS(N4))
                &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2        &bt BT_SEL 3    &bt BT_CLR      &none           &none               &none               &none               &none
                                                                &htl LOWER DEFAULT  &kp LCMD        &kp SPACE                           &kp ENTER           &hm RALT DEL        &htl RAISE LOWER
            >;
        };

        tri_layer {
            bindings = <
                &none           &none           &none               &none           &none           &kp MINUS       &kp N7              &kp N8              &kp N9              &none
                &none           &none           &kp C_PREV          &kp C_PP        &kp C_NEXT      &kp PLUS        &kp N4              &kp N5              &kp N6              &none
                &none           &none           &none               &none           &none           &kp N0          &kp N1              &kp N2              &kp N3              &none
                                                             &htl LOWER DEFAULT  &kp LCMD        &kp SPACE                              &kp ENTER           &hm RALT DEL        &htl RAISE LOWER
            >;
        };
    };
};

