name: 'Corne Black'
on:
  workflow_dispatch:
  push:
    paths:
      - 'includes/*'
      - 'config/config_black/*'

jobs:
  build_black:
    # https://github.com/zmkfirmware/zmk/blob/main/.github/workflows/build-user-config.yml
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3.0
    with:
      build_matrix_path: corne_black_build.yaml            # default: "build.yaml"
      archive_name: corne                                  # default: "firmware"
