name: 'Draw keymaps'
on:
  workflow_dispatch:
  push:
    paths:
      - 'config_*/*'
      - 'keymap-drawer/*'
      - 'includes/*.dtsi'
      - '.github/workflows/draw_keymaps.yml'

jobs:
  draw_black:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@v0.14.1
    with:
      keymap_patterns: "config/corne.keymap"         # path to the keymaps to parse
      config_path: "keymap-drawer/corne_config.yaml" # config file, ignored if not exists
      output_folder: "keymap-drawer"                              # path to save produced SVG and keymap YAML files
      destination: "artifact"
      draw_args: "corne:'-k corne_rotated -l LAYOUT_split_3x5_3'"
      artifact_name: "corne"

  commit:
    needs: [draw_black]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download artifact
        id: download-artifact
        uses: actions/download-artifact@v4
        with:
          path: keymap-drawer

      - name: Rename artifacts
        run: |
          mv keymap-drawer/corne/corne.svg keymap-drawer/corne.svg
          rm -rf keymap-drawer/corne/

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'keymap-drawer render'
          commit_options: ""
          push_options: ""
          skip_fetch: false
          file_pattern: 'keymap-drawer/*.svg'
